.about-us {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 60px auto;
    background-color: #e0ccbe;
  }

  .card-img-top{
    height: 300px;
    object-fit: cover;
    object-position: top;
  }

  .card:hover{
    scale: 1.2;
  }